APP_NAME="SGFEP"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost/sig

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sgfep_windev
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=28800

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=

# HFSQL Remote Database Connection
HFSQL_DSN="Driver={HFSQL};Server Name=YOUR_SERVER;Server Port=4900;Database=sig; IntegrityCheck=1"
HFSQL_USERNAME="sig"
HFSQL_PASSWORD="YOUR_PASSWORD"

SESSION_DRIVER=file
