# === SECURITY === #
.env
.env.*
!.env.example
storage/active_sessions.json
storage/mfa_settings.json
storage/logs/*.log
*.pem
*.key
# === LARAVEL === #
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
/public/uploads/
/public/assets/fonts/
